 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/favicon.png?rand=d13d");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 255px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  margin: 69px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 72px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 224px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 63px;
    margin-right: 314px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 97px;
    margin-right: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 184px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}